extends layout

block content
  h1= title
  p Welcome to #[em LocalPub].

  h1 Pub info

  if error
    p Error getting dynamic content.
  else
    p The pub has the following record counts:

    ul
      li #[strong Waiters:] !{data.waiter_count}
      li #[strong Tables:] !{data.table_count}
