extends layout

block content
    h1= title
    ul
        each waiter in waiter_list
            li Name - #{waiter.first_name + ' ' + waiter.last_name}
                |  Age: #{Math.ceil((new Date().getTime() - waiter.date_of_birth.getTime())/(1000*3600*24*365))-1}
        else
            li There are no waiters.